body {
	background-color: #d6d6d6;
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}

h2{
	margin:15px 0px;
}

/*Global Styles*/
.action {
	color:  #cc6633;
	font-weight: bold;

}

.capitalize {
	text-transform: uppercase;
}
.daily-video-footer {
	border-top: 1px dotted #000;
	border-bottom: 1px solid #000;
}
/*Main Content Section*/
.content-container {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

#main {
	width:600px;
	padding: 20px;
	min-height: 100px;  /*remove once content is filled in */
	background-color: #fff;
	float: left;
}

.section-container-main {
	padding-bottom: 40px;
}

/*Aside Content Section*/

#sidebar {
	width:280px;
	min-height: 100px;  /*remove once content is filled in */
	background-color: #fff;
	float: right;
}