body {
	background-color: #d6d6d6;
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}

h2{
	margin:15px 0px;
}

li {
	font-weight: bold;
	list-style-type: none;
	font-size: 12px;
	line-height: 16px;
}
/*Global Styles*/
.action {
	color:  #cc6633;
	font-weight: bold;

}

.capitalize {
	text-transform: uppercase;
}
.daily-video-footer {
	border-top: 1px dotted #000;
	border-bottom: 1px solid #000;
}
/*Header*/
.header-wrapper {
	background-image: url('../images/background.jpg');
	background-repeat: repeat-x;
	height: 180px;
	margin-bottom: 95px;
}

.logo-container {
	background-image: url('../images/logo.png');
	width: 216px;
	height: 213px;
	margin:0 auto;
}
/*Main Content Section*/
.content-container {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

#main {
	width:600px;
	padding: 20px;
	background-color: #fff;
	float: left;
}

.section-container-main {
	padding-bottom: 40px;
}

/*Aside Content Section*/

#sidebar {
	width:280px;
	background-color: #fff;
	float: right;
	padding: 35px 0px 45px 0px;

}

.aside-image-container {
	margin: 0 auto;
	width: 220px;
	padding-bottom: 15px;
}